torch==2.0.1
networkx==3.1
matplotlib==3.3.4
torchvision==0.15.2
gymnasium==0.28.1
numpy==1.24.4
scipy==1.10.1
ray[data,train,tune,serve,rllib]==2.7.1
debugpy==1.8.8
tensorboard==2.12.0
torch_geometric==2.6.1